h1,
p {
  text-align: center;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
  color: #333333;
}

div#tableContainer {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-spacing: 10px;
}

.tableRow {
  display: table-row;
}

.card {
  display: table-cell;
  padding: 5px;
}

#back {
  display: block;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fbaa19;
  padding: 15px 40px;
  color: #666666;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #666666;
}
